CONFIG_CORE_AP_SSID="ESP32-Core-Setup"
CONFIG_CORE_AP_OPEN=y
CONFIG_CORE_CAPTIVE_PORTAL_ENABLE=y
CONFIG_CORE_AP_DHCP_ENABLE=y
CONFIG_CORE_STATUS_API_ENABLE=y
CONFIG_CORE_LOG_LEVEL=3
CONFIG_CORE_BLE_SCAN_ENABLE=y
CONFIG_CORE_BLE_SCAN_INTERVAL_MS=5000
CONFIG_HTTPD_MAX_URI_HANDLERS=24
CONFIG_LWIP_MAX_SOCKETS=16

